.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-time-view{
  background-color: #0c0a09;
}
.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
  color: white !important;
}
.rbc-label {
  color: #ffe4e6 !important;
}
.rbc-time-view {
  border: 1px solid #1f2937 !important;
  border-radius: 10px !important;
}
.rbc-timeslot-group {
  border: 1px solid #1f2937 !important;
  padding: 2px !important;
}
.rbc-time-slot {
  border: none !important;
}
.rbc-events-container {
  border: none !important;
}
.rbc-time-content {
  border: none !important;
}
.rbc-time-header {
  display: none !important;
}
.rbc-events-container{
  margin: 0px !important
}
.rbc-today{
  background-color: inherit !important;
}


.rbc-btn-group:last-child {
  font-size: 13px !important;
}
.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #292524;
  color: white !important;
}
.rbc-btn-group:last-child button:hover {
  border: none !important;
  background-color: #383534;
  color: white !important;
}
.rbc-btn-group:last-child button:active {
  border: none !important;
  background-color: #383534 !important;
  color: white !important;
}
.rbc-btn-group:last-child button:focus {
  border: none !important;
  background-color: #383534;
  color: white !important;
}
.rbc-active {
  background-color: #ea580c !important;
}
.rbc-active:hover {
  background-color: #e45b11 !important;
}
.rbc-event{
  color: #292524 !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 10px 5px !important;
  max-width: 100% !important;
}
.rbc-event:nth-child(1) {
  background-color: #ff6f61 !important; /* Warm Coral */
}
.rbc-event:nth-child(2) {
  background-color: #6bcbef !important; /* Soft Sky Blue */
}
.rbc-event:nth-child(3) {
  background-color: #ffa69e !important; /* Peach Pink */
}
.rbc-event:nth-child(4) {
  background-color: #a593e0 !important; /* Soft Lavender */
}
.rbc-event:nth-child(5) {
  background-color: #f8b400 !important; /* Golden Yellow */
}
.rbc-event:nth-child(6) {
  background-color: #7bdcb5 !important; /* Mint Green */
}
.rbc-event:nth-child(7) {
  background-color: #ff77aa !important; /* Vibrant Rose */
}
.rbc-event:nth-child(8) {
  background-color: #95d5b2 !important; /* Calming Aqua Green */
}

.rbc-event-label{
  color: black !important;
  font-size:small !important;
}

.rbc-event-content{
  color: black !important;
  font-size:medium !important;
}